.form{
    position: relative;
}

.searchbar{
    width: 200px;
    height: 35px;
    border-radius: 25px;
    padding: 0px 0px 0px 40px;
    font-family: var(--preset-font-family-3);
    font-size: var(--preset-text-5-font-size);
    font-weight: var(--preset-text-5-font-weight);
    line-height: var(--preset-text-5-line-height);
    letter-spacing: var(--preset-text-5-letter-spacing);
}

.searchbar.light{
    color: var(--preset-color-black-1);
    background-color: var(--preset-color-green-transparent-light);
    border: 1px solid var(--preset-color-grey-1);
}

.searchbar.dark{
    color: var(--preset-color-white-1);
    background-color: var(--preset-color-green-transparent-dark);
    border: 1px solid var(--preset-color-white-1);
}

.searchbar.light::placeholder{
    color: var(--preset-color-grey-2);
}

.searchbar.dark::placeholder{
    color: var(--preset-color-white-3);
}

.searchbar::-webkit-search-cancel-button{
    display: none;
}

.searchbar:focus{
    outline: none;
    border: 1px solid var(--preset-color-green-1)
}

.search_icon{
    width: 20px;
    object-fit: contain;
    position: absolute;
    top: 0px;
    bottom: 0px;
    margin: auto;
    left: 15px;
}

@media(max-width: 650px){
    .searchbar{
        width: 100%;
        height: 60px;
        font-size: 1.5rem;
    }
}