.place{
    width: 140px;
    height: 40px;
    border-radius: 20px;
    border: none;
    color: var(--preset-color-white-1);
    background-color: var(--preset-color-green-1);
    font-family: var(--preset-font-family-3);
    font-size: var(--preset-text-4-font-size-1);
    font-weight: var(--preset-text-4-font-weight);
    line-height: var(--preset-text-4-line-height);
    letter-spacing: var(--preset-text-4-letter-spacing);
    cursor: pointer;
}

.place:hover{
    background-color: var(--preset-color-green-2);
}

.place:active{
    background-color: var(--preset-color-green-3);
}

.overlay{
    width: 100%;
    height: 100vh;
    background-color: var(--preset-color-black-transparent);
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: var(--fifth-layer);
}

.dialog{
    width: 400px;
    height: 400px;
    padding: 25px;
    border-radius: 15px;
    background-color: var(--preset-color-white-1);
    border: none;
    position: absolute;
    inset: 0;
    margin: auto;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.dialog_close{
    width: 35px;
    height: 35px;
    background-color: transparent;
    border: none;
    align-self: end;
    cursor: pointer;
}

.dialog_close > img{
    width: 35px;
    object-fit: contain;
}

