@font-face {
    font-family: 'noto serif';
    src: url('./Common/Fonts/NotoSerif-VariableFont_wdth\,wght.ttf');
}

@font-face{
    font-family: 'montserrat';
    src: url('./Common/Fonts/Montserrat-VariableFont_wght.ttf');
}

* {
    box-sizing: border-box;
    transition: all 0.2s linear, opacity 0s, transform 0s;
}

body, html{
    margin: 0px;
    padding: 0px;
}

:root{
    --preset-color-grey-1: rgb(181, 181, 181);
    --preset-color-black-1: rgb(23, 23, 23);
    --preset-color-green-transparent: rgba(0, 151, 0, 0.2);
    --preset-color-green-1: rgb(0, 158, 0);

    --preset-font-family-1: 'noto serif';
    --preset-font-family-2: 'montserrat';


    --preset-text-1-font-size: 4rem;
    --preset-text-1-font-weight: 800;
    --preset-text-1-line-height: 3rem;
    --preset-text-1-letter-spacing: 0px;

    --preset-text-2-font-size: 3rem;
    --preset-text-2-font-weight: 600;
    --preset-text-2-line-height: 3rem;
    --preset-text-2-letter-spacing: 0px;

    --preset-text-3-font-size: 2rem;
    --preset-text-3-font-weight: 400;
    --preset-text-3-line-height: 2rem;
    --preset-text-3-letter-spacing: 0px;

    --preset-text-4-font-size: 1.5rem;
    --preset-text-4-font-weight: 400;
    --preset-text-4-line-height: 3rem;
    --preset-text-4-letter-spacing: 0px;

    --preset-text-5-font-size: 1rem;
    --preset-text-5-font-weight: 300;
    --preset-text-5-line-height: 3rem;
    --preset-text-5-letter-spacing: 0px;
}