@font-face {
    font-family: 'noto serif';
    src: url('./Common/Fonts/NotoSerif-VariableFont_wdth\,wght.ttf');
}

@font-face{
    font-family: 'montserrat';
    src: url('./Common/Fonts/Montserrat-VariableFont_wght.ttf');
}

@font-face{
    font-family: 'roboto';
    src: url('./Common/Fonts/Roboto-VariableFont_wdth\,wght.ttf');
}

* {
    box-sizing: border-box;
    transition: all 0.2s linear, opacity 0s, transform 0s;
}

body, html{
    margin: 0px;
    padding: 0px;
}

:root{
    --preset-color-grey-1: rgb(181, 181, 181);
    --preset-color-grey-2: rgb(128, 128, 128);
    --preset-color-grey-3: rgb(85, 85, 85);

    --preset-color-white-1: rgb(226, 226, 226);
    --preset-color-white-2: rgb(234, 234, 234);
    --preset-color-white-3: rgb(210, 210, 210);

    --preset-color-black-1: rgb(32, 32, 32);
    --preset-color-black-transparent: rgba(32, 32, 32, 0.6);

    --preset-color-green-1: rgb(0, 106, 0);    
    --preset-color-green-2: rgb(0, 142, 0);
    --preset-color-green-3: #02b002;

    --preset-color-green-transparent: rgba(0, 106, 0, 0.1);

    --preset-color-green-transparent-light: rgba(0, 151, 0, 0.2);
    --preset-color-green-transparent-dark: rgba(0, 151, 0, 0.4);

    --preset-box-shadow-right: 5px 15px 35px 5px black;

    --preset-font-family-1: 'noto serif';
    --preset-font-family-2: 'montserrat';
    --preset-font-family-3: 'roboto';

    --preset-text-1-font-size: 4rem;
    --preset-text-1-font-weight: 800;
    --preset-text-1-line-height: 3rem;
    --preset-text-1-letter-spacing: 0px;

    --preset-text-2-font-size: 3rem;
    --preset-text-2-font-weight: 600;
    --preset-text-2-line-height: 3rem;
    --preset-text-2-letter-spacing: 0px;

    --preset-text-3-font-size: 2rem;
    --preset-text-3-font-weight: 600;
    --preset-text-3-line-height: 2.8rem;
    --preset-text-3-letter-spacing: 0px;

    --preset-text-4-font-size: 1.5rem;
    --preset-text-4-font-weight: 400;
    --preset-text-4-line-height: 2.5rem;
    --preset-text-4-letter-spacing: 0px;

    --preset-text-5-font-size: 1rem;
    --preset-text-5-font-weight: 300;
    --preset-text-5-line-height: 1.5rem;
    --preset-text-5-letter-spacing: 0px;
}