.refresh{
    width: 35px;
    height: 35px;
    border-radius: 100%;
    cursor: pointer;
    background-color: transparent;
    cursor: pointer;
}

.refresh.light{
    border: 1px solid var(--preset-color-grey-1);
}

.refresh.light:hover{
    background-color: var(--preset-color-white-2);
}

.refresh.light:active{
    background-color: var(--preset-color-white-3);
}

.refresh.dark{
    border: 1px solid var(--preset-color-white-1);
}

.refresh.dark:hover{
    background-color: var(--preset-color-grey-2);
}

.refresh.dark:active{
    background-color: var(--preset-color-grey-1);
}

.refresh_icon{
    width: 18px;
    object-fit: contain;
}
